body {
  height: 100%;
  background-image: url("../images/background.jpg");
  color: #fff;
  text-align: center;
}

/* centered columns styles */
.row-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-centered {
  display: inline-block;
}

.top-buffer {
  margin-top: 100px;
}

div.forecast-item {
  margin-right: 10px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
}

/* Animations */
.forecast-animate.ng-enter {
  animation: zoomIn 1s;
}

.forecast-animate.ng-leave {
  animation: zoomOut 1s;
}
