<h1>Weather Forecast</h1>

<div class="container">
  <form class="form-inline">
    <div class="col-lg-8 form-group">
      <div class="input-group">
        <input type="text" ng-model="city" class="form-control" id="city" placeholder="Enter city" ng-model-options="{ debounce: 500 }" ng-change="getForecast()" />
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="row row-centered">
    <div class="col-lg-1 col-centered forecast-item forecast-animate" ng-repeat="day in weekForecast.list track by $index">
      <p class="text-center">
        {{ (day.dt * 1000) | date: 'EEE - M/d' }}
      </p>
      <p class="text-center">
        Hi: {{ day.temp.min | number: 0 }}°   Lo: {{ day.temp.max | number: 0 }}°
      </p>
      <p class="text-center">
        <i ng-class="setClass(day.weather[0].icon)"></i> {{ day.weather[0].main }}
      </p>
    </div>
  </div>
</div>
